= display_datetime_control_group kind: :date, label: 'Display format', input_name: 'column_options[format]', selected: settings.column_options(column.name)['format'], :allow_blank => "use global settings"