.page-header
  h1 Adminium documentation

p Adminium provides you with a full fledged administration interface without adding a single line of code to your application.

h2 Installation

pre= "heroku addons:add adminium\nheroku plugins:install git@github.com:isc/heroku-adminium\nheroku adminium"
