- tip_title 'Advanced Searches, Views and Widgets'
p If you want to perform a complex query on your table, advanced search will let you add multiple constraints on columns.
p= image_tag 'docs/advanced_search_form.png', class: 'img-thumbnail img-responsive'
p You can name and save this search for easy access later. It will appear as a tab on the listing page.
p You can also add this view as a widget on the dashboard page by clicking on the star icon.
p= image_tag 'docs/advanced_search.png', class: 'img-thumbnail img-responsive'