- tip_title 'Basic Search'
p By default, you can search on every string, text and integer columns of a table.
p= image_tag 'docs/search_input.png', class: 'img-thumbnail img-responsive'
p You can use the symbol <code>%</code> in your query string for a simple regular expression.
p You can specify which columns should be considered as searchable. Just look for the <b>Searchable columns</b> section in the <b>Listing settings</b> Panel.
