- tip_title "Export and Import your data"
p You can easily export a specific search and download a CSV file. In the listing page, just click on the export button, select the columns you wish to export and other export options.
p Your CSV file can be locally modified and imported back if the CSV file contains the id column of your records.
p If the id of a record is not specified, a new record will be created.
p= image_tag 'docs/import_export.png', class: 'img-thumbnail img-responsive'