- tip_title 'Relationship Display'
p By default relationships are displayed using the humanized table name and the primary key (for instance <code>User #37</code>). However you can configure a specific column to be used for labeling these links. You might have for instance a pseudo column on a users table.
p To choose the Label column for a table, go to the listing view of the table and click on the cog button. In the modal, you will find a pane titled Miscellaneous, which contains the Label column option.