- tip_title 'Serialized data'
p Do you run a ruby application? Do you have serialized data stored in some columns?
p If the answer is yes, you should try to activate the serialized option in the column setting.
p= image_tag 'docs/serialized.png', class: 'img-thumbnail img-responsive'
