select.span2(name="filters[#{g}][operator]")
  - options = [["present", "present"], ["blank", "blank"], ["contains", 'like'], ["is exactly", "is"], ["is not", "not"], ["starts with", "starts_with"], ["ends with", "ends_with"]]
  = options_for_select(UNARY_OPERATORS.map{|o| [o.humanize.downcase, o]} + options, operator)