select.span2(name="filters[#{g}][operator]")
  - options = [["contains", 'like'], ["is exactly", "is"], ["starts with", "starts_with"], ["ends with", "ends_with"], ["present", "present"], ["blank", "blank"]]
  = options_for_select(options, operator)