/*
 *= require_self
 *= require sh_emacs.min
 *= require bootstrap.3.3.5.min
 *= require bootstrap-wysihtml5
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker
 *= require types
 *= require resources
 *= require homepage
 *= require in_place_editing
*/

body:not(.landing) { padding-top: 70px; }
body.landing { padding-top: 20px; }

.navbar-left .select2-container {
  width: 270px;
}
.nav-tabs {
  margin-bottom: 15px;
}
.dashboards.show .deactivated {
  opacity: 0.5;
}
.table-sortable th {
  cursor: pointer;
}
i.fa.discrete {
  opacity: 0.3;
}
i.fa.discrete:hover {
  opacity: 1;
}
.tab-pane {
  padding-top: 30px;
}
.popover {
  overflow: hidden;
}