td.fixnum, td.bigdecimal {
  font-family:Monaco;
  color:green;
  font-weight:bold;
  text-align:right;
}

.trueclass, .falseclass {
  color:#F3C;
  font-weight:bold;
  font-style:italic;
}

.nilclass, .emptystring {
  color:lightGray;
  font-style:italic;
}

.serialized pre {
  font-size:10px;
}

.tab-content ul {
  max-height:200px;
  overflow:auto;
  margin-left:0px;
}

.time, .activesupport-timewithzone {
  color:purple;
}

.setting_attribute {
  border-bottom:1px solid rgba(0,0,0,0.1);
  position:relative;
  padding:2px;
  margin-bottom:3px;
  list-style-type:none;
  &:last-child {
    border-bottom:none;
  }
  input {
    float:left;
    margin:3px;
  }
  i.icon-resize-vertical {
    position:absolute;
    top:5px;
    right:5px;
  }
}

.items-list {
  th {
    position:relative;
    i {
      opacity:0;
      position: absolute;
      left:0px;
      bottom:6px;
      cursor:pointer;
      &.active {
        cursor:default;
        opacity:1!important;
      }
      &.icon-chevron-up {
        bottom:15px;
      }
    }
    padding-left:20px;

    &:hover {
      i {
        opacity:0.5;

        &:hover {
          opacity:1
        }
      }
    }
  }
}