td.fixnum, td.bigdecimal, td.integer, td.float, td.decimal {
  font-family:Monaco;
  font-weight:bold;
  text-align:right;
}

td.fixnum, td.bigdecimal, td.integer, td.float, td.decimal, td.decimalType, td.floatType, td.integerType {
  color:green;
}

.trueclass, .falseclass {
  color:#F3C;
  font-weight:bold;
  font-style:italic;
}
.trueclass {
  color: rgb(7, 190, 37);
}

.nilclass, .emptystring, td.nilclass {
  color:lightGray;
  font-style:italic;
}

.serialized pre {
  font-size:10px;
}

.table td.hasmany {
  text-align:right;
}

.tab-content ul {
  max-height:200px;
  overflow:auto;
  margin-left:0px;
}

.time, .datetime, .activesupport-timewithzone, .date, .sequel-sqltime, td.dateType, td.datetimeType, td.timeType {
  color:purple;
}
td.booleanType {
  color: orange;
}

.setting_attribute {
  border-bottom:1px solid rgba(0,0,0,0.1);
  position:relative;
  padding:2px;
  margin-bottom:3px;
  list-style-type:none;
  &:last-child {
    border-bottom:none;
  }
  input {
    float:left;
    margin:3px;
  }
  i.icon-resize-vertical {
    position:absolute;
    top:5px;
    right:5px;
  }
}

.items-list {
  .column_header {
    min-height:28px;
    vertical-align:middle;
    height:28px;
  }
  th {
    vertical-align:middle;
    position:relative;
    min-height:28px;
    i {
      opacity:0;
      position: absolute;
      cursor:pointer;
      &.active {
        cursor:default;
        opacity:1!important;
      }

      &.icon-chevron-up {
        position: absolute;
        left:3px;
        bottom:15px;
      }
      &.icon-chevron-down {
        left:3px;
        bottom:6px;
      }
      &.icon-cog {
        right:2px;
        bottom:10px;
      }
      &.time-chart {
        right: 16px;
        bottom: 10px;
      }
    }
    padding:1px 20px 0px;

    &.column_header:hover {
      background:#F9F9F9;
      border:1px solid #DDD;
      border-top:1px solid #DDD !important;
      padding:0px 19px 0px;
      i {
        opacity:0.5;

        &:hover {
          opacity:1
        }
      }
    }
  }
}