.demo {
  margin-bottom: 1px;

  .navbar-inner {
    font-family:Georgia;
    font-size:18px;
    color:#333;
    background: #FCEFD4;
    padding: 5px;
    padding-bottom:0px;
    border-bottom:1px solid #FAE1C6;
  }

  p {
    color: #666;
  }

  .span3 {
    text-align:center;
    p {
      font-size: 11px;
      font-style: italic;
    }
  }

  a.btn {
    text-transform: uppercase;
    font-family: verdana;
  }

}