.demo {
  border: 4px solid #999;
  padding: 8px 0px;
  p {
    margin: 5px;
    color: #444;
  }
  .pricing {
    color: gray;
    font-size: 1.1em;
    margin: 5px 0 5px 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .span6:last-child {
    text-align: right;
  }
}