a.btn.btn-navbar .icon-bar {
  display: block;
}
#home-carousel {
  width:420px;
  box-shadow:0px 8px 24px rgba(0,0,0,0.5);
}
.hero-unit .span7 > p {
  margin-bottom:25px;
}
.hero-unit {
  h1 {
    font-size:37px;
    margin-bottom:20px;
  }
  .carousel-caption p {
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
    color:lightGray;
  }
}
.postgresql-logo, .mysql-logo {
  margin:0 15px;
}
.postgresql-logo {
  margin-top:15px;
}
.mysql-logo {
  margin-top:5px;
}
.centered {
  text-align:center;
}
.heroku-connection-instructions {
  margin-top:10px;
  img {
    border-radius:5px;
    box-shadow:3px 3px 3px rgba(0,0,0,0.5);
  }
}

.white {
  background: white;
}