a.btn.btn-navbar .icon-bar {
  display: block;
}
#home-carousel {
  box-shadow:0px 8px 24px rgba(0,0,0,0.5);
}
.hero-unit .span7 > p {
  margin-bottom:25px;
}
.hero-unit {
  h1 {
    font-size:37px;
    margin-bottom:20px;
  }
  .carousel-caption p {
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
    color:lightGray;
  }
}
.postgresql-logo, .mysql-logo {
  margin:0 15px;
}
.postgresql-logo {
  margin-top:15px;
}
.mysql-logo {
  margin-top:5px;
}
.centered {
  text-align:center;
}
.heroku-connection-instructions {
  margin-top:10px;
  img {
    border-radius:5px;
    box-shadow:3px 3px 3px rgba(0,0,0,0.5);
  }
}

.white {
  background: white;
}

.landing {
  .pricing {
    padding-top: 20px;
    > .row > h2 {
      margin-bottom: 20px;
    }
    .plan {
      margin: 0 7% 20px 7%;
      padding-top: 5px;
      border: 3px solid #DDD;
      text-align: center;
      h2 {
        border-bottom: 1px solid #EEE;
        font-style: italic;
        font-family: Georgia;
        margin-bottom: 10px;
      }
      p {
        font-weight: bold;
        font-size: 1.2em;
      }
      h3 {
        color: #888;
        margin-top: 0px;
        padding-top: 0px;
      }
    }
    .more {
      margin-top: 10px;
      color: #999;
      font-size: 1.1em;
      font-style: italic;
    }
  }
  .promise {
    margin: 40px 0px 10px 0;
    font-size: 2.0em;
  }
  .intro {
    .big-screenshot {
      position: relative;
      div {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        left: 50%;
        width: 200px;
        margin-left: -100px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        font-size: 1.5em;
        color: white;
        top: 50%;
        display: none;
      }
      &:hover {
        div {
          display: block;
        }
      }
    }
    img {
      border: 8px solid #FEFEFE;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
    }
  }
  
  .features {
    box-shadow: inset 0px 7px 17px -7px #333;
    p {
      margin-top: 10px;
      font-size: 1.2em;
      color: #777;
      line-height: 1.4em;
    }
    .row {
      margin: 50px 0;
    }
    img {
      border: 2px solid #CCC;
    }
  }
  
  .header {
    margin-top: 10px;
    text-shadow: 1px 1px 0px white;
    h4 {
      color: #888;
    }
    .menu {
      font-size: 1.1em;
      text-align: right;
      color: #CCC;
      a {
        margin: 0px 10px;
        &:not(:first-child) {
          color: gray;
        }
        text-transform: uppercase;
      }
    }
  }

  .resources {
    padding: 20px 0px 30px;
    color: #999;
    img {
      height: 50px;
      margin: 0 20px 15px 0;
    }
  }

  .testimonials {
    quote {
      font-family: Georgia;
      font-size: 1.2em;
      color: #999;
      font-style: italic;
      display: block;
      padding-top: 5px;
      min-height: 55px;
    }
    a img {
      border-color: #DDD;
    }
    p {
      text-align: right;
    }
    a {
      color: #BBB;
    }
    img {
      border-radius: 50%;
    }
  }


  .technos {
    padding: 20px 0px 30px;
    color: #999;
    img {
      height: 50px;
      margin: 0 20px 15px 0;
    }
  }
  
  .copyright a {
    color: #999;
  }

  @media (min-width: 979px) {
    .big-screenshot img {
      min-height: 392px;
    }
    img.feature {
      min-height: 165px;
    }
  }
  .cta {
    font-size: 1.5em;
  }
  footer {
    margin: 40px 0px 20px;
  }
}