.postgresql-logo, .mysql-logo {
  margin: 0 15px;
}
.postgresql-logo {
  margin-top: 15px;
}
.mysql-logo {
  margin-top: 5px;
}
.heroku-connection-instructions {
  margin-top: 10px;
  img {
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  }
}
.landing {
  #login .modal-body {
    img {
      height: 41px;
    }
  }
  .intro {
    .big-screenshot {
      position: relative;
      div {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        left: 50%;
        width: 250px;
        margin-left: -125px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        font-size: 1.5em;
        color: white;
        top: 50%;
        display: none;
      }
      &:hover {
        div {
          display: block;
        }
      }
    }
  }
  .technos {
    padding: 20px 0px 30px;
    img {
      height: 50px;
      margin: 0 20px 15px 0;
    }
  }
  @media (min-width: 979px) {
    .big-screenshot img {
      min-height: 392px;
    }
    img.feature {
      min-height: 165px;
    }
  }
  footer {
    margin: 40px 0px 20px;
  }
}