#home-carousel {
  width:420px;
}
.hero-unit .span7 > p {
  margin-bottom:25px;
}
.hero-unit {
  h1 {
    font-size:37px;
    margin-bottom:20px;
  }
  .carousel-caption p {
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
    color:lightGray;
  }
}
.postgresql-logo, .mysql-logo {
  margin:0 15px;
}
.postgresql-logo {
  margin-top:15px;
}
.mysql-logo {
  margin-top:5px;
}
.centered {
  text-align:center;
}