td[data-raw-value], td.nilclass, td[data-editable] {
  padding-right: 20px !important;
  position: relative;
  i.cell-action {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 5px;
    color: #333;
    &.fa-pencil {
      top: 3px;
    }
    &.fa-indent {
      top: 20px;
    }
    &.fa-outdent {
      top: 37px;
    }
  }
  &:hover i.cell-action {
    opacity: 1;
  }
}
td[data-editable] {
  form {
    padding: 10px;
    select, input[type=text], .select2-container {
      width: 235px;
    }
    textarea {
      width: 300px;
      height: 100px;
    }
  }
}
.resource-form {
  .controls {
    position: relative;
  }
}
.form-horizontal {
  .null_btn, .empty_string_btn {
    bottom: 4px;
  }
}
.form-inline {
  .null_btn, .empty_string_btn {
    bottom: 24px;
  }
}
.null_btn, .empty_string_btn {
  position: absolute;
}
