@orange:                #413877;

.widget {
  overflow:auto;
  padding: 0;
  background: white;
  max-height:300px;
  box-shadow: 0px 0px 15px darken(#EEE, 5%);
  i.icon-cog {
    display:none;
  }
  &:hover .btn-mini {
    opacity:1;
  }
  .btn-mini {
    opacity:0;
    margin-right:2px;
    margin-top:2px;
  }
  h4 {
    padding:3px 3px 3px 6px;
    margin:0px;
    background: lighten(@orange, 25%);
    color: white;
    a {
      color: white;
    }
    small {
      background: lighten(@orange, 5%);
      padding: 2px 6px;
      color: white;
      border-radius: 5px;
    }
    border-bottom: 1px solid darken(#EEE, 10%);

  }
  .items-list {
    margin-left:-1px;
    tbody {
      background: white;
    }
  }
  .content {
    -webkit-transform: translate3D(0, 0, 0);
  }
}

#nav_searches {
  form {
    display: none;
  }
  ul {
    margin-top:-20px;
    border: none;

    li {
      margin-top: 1px;
      margin-right:5px;
      &.active > span {
        background-color: whiteSmoke;
        border: 1px solid #ddd;
        border-top: 0px;
        border-radius: 0px 0px 3px 3px;
        padding: 12px;
        padding-top: 5px;
        display: inline-block;
        font-weight: bold;
        i {
          margin-left: 2px;
          margin-right: 2px;
          &.icon-remove {
            margin-right: 10px;
          }
          &.icon-star {
            margin-left:10px;
          }
          opacity: 0.3;
          &:hover, &.active {
            opacity: 1;
          }
        }
      }
      &.add_view {
        margin-top: 2px;
        a {
          background: whiteSmoke;
          padding: 10px 7px;
          padding-top: 5px;
          font-size: 90%;
          color: black;
          &:hover {
            background: lightGray;
          }
        }
      }
    }
  }
}

.items-list {
  tfoot {
    td {
      padding: 3px;
      overflow: hidden;
      height: 80px;
    }
    th {
      border-bottom: none !important;
    }
    tr {

      &:hover td, &:hover th, td, th {
        background: lighten(@orange, 20%) !important;
        color: white;
        border-color: lighten(@orange, 20%);
        text-transform: uppercase;
        text-align: right;
      }
      dl {
        margin: 0px;
      }

      dd {
        font-size: 90%;
        font-family: "Monaco";
        &.zero {
          color: lighten(@orange, 30%);
        }
      }
      dt {
        float: left;
        font-size: 70%;
        color: lighten(@orange, 50%);
        &.label {
          color: white;
          box-shadow: 0px 0px 3px darken(@orange, 5%);
        }

        &.true {
          border-left: 4px solid lighten(@orange, 50%);
          padding-left: 4px
        }
        &.false {
          border-left: 4px solid lighten(@orange, 40%);
          padding-left: 4px
        }
        &.null {
          border-left: 4px solid lighten(@orange, 30%);
          padding-left: 4px
        }
      }

      .boolean_bar, .enum_bar {
        margin-top: 2px;
        width: 100%;
        height: 15px;
        background: lighten(@orange, 30%);
        div {
          height: 100%;
          float: left;
          font-size: 80%;
          text-align: left;
          overflow: hidden;
          span {
            padding-left: 4px;
          }
        }
      }
      .boolean_bar {
        .true {
          background: lighten(@orange, 50%);
          color: lighten(@orange, 30%);
        }
        .null {
          color: lighten(@orange, 50%)
        }
        .false {
          background: lighten(@orange, 40%);
        }
      }
      .sparkline-pie {
        width: 100%;
        height: 80px;
        text-align: center;
      }
    }
  }
  td[data-column-name] {
    padding-right:20px;
    position:relative;

    .in-place-actions {
      display:inline;
      margin-left: 5px;
    }

    a.cancel {
      color:#888;
      margin-left:3px;
      display:inline-block;
      vertical-align:middle;
      cursor:pointer;
    }
    i.icon-pencil {
      opacity:0;
      cursor:pointer;
      margin-left:4px;
      position:absolute;
      right:5px;
      top:9px;
    }
    &:hover {
      i.icon-pencil {
        opacity:0.5;
        &:hover {opacity:1}
      }
    }

  }

  form {
    width:280px;
    .ui-datepicker-calendar {
      td, th {
        padding:0px;
        a {
          margin:0px;
          text-align:center;
          display:block;
        }

      }
    }
    position:absolute;
    padding:6px;
    z-index:1;
    background:lightYellow;
    box-shadow:3px 4px 10px rgba(0,0,0,0.2);
    top:0px;
    left:0px;

    select, input[type=text] {
      width: 250px;
    }
    textarea {
      width:300px;
      height:100px;
    }
    .controls > div:not(.hasDatepicker) {
      padding-top:1px;
      text-align:right;
    }
  }
}
.search-where-filters {
  margin-top:0;
}
.tables-info {
  th {
    cursor:pointer;
  }
}

.filters {
  tr td {
    padding: 10px 1px;
  }
  tr:last-child td {
    padding-bottom: 0px;
  }
  tr:hover .btn {
    opacity: 1;
  }
  tr .btn {
    opacity: 0.3;
  }
  tr:first-child {
    td {
      padding-top: 5px;
      border-top:1px solid #DDD;
    }
    .grouping_kind select {
      display: none;
    }
  }

  .grouping_kind {
    width: 42px;
    text-align: center;
    select {
      width: 40px;
      margin-top: -40px;
      -webkit-appearance: none;
      appearance: none;
      background: white;
      border: 1px solid #DDD;
      color: #999;
      padding: 0px 5px;
      border-radius: 0px;
      height: 21px;
      line-height: inherit;
      &:hover {
        border: 1px solid @orange;
        color: @orange;
        cursor: pointer;
      }
    }
    border-top:none;
  }
}

.adminium-association {
  .record_selected {
    background: #FFF;
    border-radius: 2px;
    padding: 7px;
    clear: right;
    border: 1px solid rgb(204, 204, 204);
    padding-right: 27px;
    position: relative;
    i {
      position: absolute;
      top: 4px;
      right: 2px;
      color: #CCC;
      &:hover {
        color: #555;
        cursor: pointer;
      }
    }
  }

  .input-prepend {
    margin-top: 7px;
    float: none;
  }
  .icon-refresh {
    color: #CCC;
    &.loading {
      visibility: visible;
    }
    visibility: hidden;
  }
  ul {
    background: white;
    border: 1px solid #DDD;
    height: 150px;
    margin: 0px;
    margin-top: -2px;
    margin-left: -1px;
    float: none;
    overflow: scroll;
    li {
      list-style-type: none;
      color: #666;
      padding: 1px 3px 1px 2px;
      span.highlight {
        background: lighten(@orange, 60%);
        border-radius: 2px;
        text-decoration: none;
      }
      span.other_attrs {
        margin-left: 5px;
        i {
          color: #999;
        }
      }
      &.selected {
        background: #DDD;
      }
    }
  }
}
.text-edition-switch {
  margin-left: 160px;
}