.widget {
  overflow:none;
  padding: 0;
  background: white;
  max-height:305px;
  height: 305px;
  box-shadow: 0px 0px 15px darken(#EEE, 5%);
  margin-bottom: 20px;
  i.icon-cog {
    display:none;
  }
  &:hover .btn-mini {
    opacity:1;
  }
  .btn-mini {
    opacity:0;
    margin-right:2px;
    margin-top:2px;
  }
  &.time_chart_widget, &.pie_chart_widget {
    overflow: hidden;
  }
  &.stat_chart_widget .content {
      padding: 10px;
  }
  h4 {
    padding:3px 3px 3px 6px;
    margin:0px;
    background: lighten(@orange, 25%);
    color: white;
    a {
      color: white;
    }
    small {
      background: lighten(@orange, 5%);
      padding: 2px 6px;
      color: white;
      border-radius: 5px;
    }
    border-bottom: 1px solid darken(#EEE, 10%);

  }
  .items-list {
    margin-left:-1px;
    tbody {
      background: white;
    }
  }
  .content {
    -webkit-transform: translate3D(0, 0, 0);
  }
  &.table_widget .content {
    max-height:300px - 26px;
    overflow: auto;
  }
}

.stat_chart_widget, #chart_div {
  .table {
    td, th {padding: 5px 20px}
    thead {font-weight: bold}
    th {color: @orange}
    th:first-child {
      width: 33%;
      border-right: 1px solid #CCC;
      text-align: right;
    }
    a {text-decoration: underline}
  }
}

#nav_searches {
  form {
    display: none;
  }
  ul {
    margin-top:-20px;
    margin-left: 5px;
    border: none;

    li {
      margin-top: 1px;
      margin-right:5px;
      &.active > span {
        background-color: whiteSmoke;
        border: 1px solid #ddd;
        border-top: 0px;
        border-radius: 0px 0px 3px 3px;
        padding: 12px;
        padding-top: 5px;
        display: inline-block;
        font-weight: bold;
        i {
          margin-left: 2px;
          margin-right: 2px;
          &.icon-remove {
            margin-right: 10px;
          }
          &.icon-star {
            margin-left:10px;
          }
          opacity: 0.3;
          &:hover, &.active {
            opacity: 1;
          }
        }
      }
      &.add_view {
        margin-top: 2px;
        a {
          background: whiteSmoke;
          padding: 10px 7px;
          padding-top: 5px;
          font-size: 90%;
          color: black;
          &:hover {
            background: lightGray;
          }
        }
      }
    }
  }
}

.widget .content tr td:nth-child(2) {
  border-left: 0px;
}

.widget .content tr td:first-child {
  cursor: pointer;
  width: 14px;
  text-align: center;
  border-top: none;
  padding: 4px 1px;
  i { 
    opacity: 0.2;
  }
  &:hover {
    i {
      opacity: 1;
    }
  }
}

.adminium-association {
  .single-record {
    background: #FFF;
    border-radius: 2px;
    padding: 7px;
    clear: right;
    border: 1px solid rgb(204, 204, 204);
    padding-right: 27px;
    position: relative;
    i {
      position: absolute;
      top: 4px;
      right: 2px;
      color: #CCC;
      &:hover {
        color: #555;
        cursor: pointer;
      }
    }
  }

  .input-prepend {
    margin-top: 7px;
    float: none;
  }
  .icon-refresh {
    color: #CCC;
    &.loading {
      visibility: visible;
    }
    visibility: hidden;
  }
  ul {
    background: white;
    border: 1px solid #DDD;
    height: 150px;
    margin: 0px;
    margin-top: -2px;
    margin-left: -1px;
    float: none;
    overflow: scroll;
    li {
      list-style-type: none;
      color: #666;
      padding: 1px 3px 1px 2px;
      span.highlight {
        background: lighten(@orange, 60%);
        border-radius: 2px;
        text-decoration: none;
      }
      span.other_attrs {
        margin-left: 5px;
        i {
          color: #999;
        }
      }
      &.selected {
        background: #DDD;
      }
    }
  }
}

#displayed-columns_pane {
  ul {
    margin-left: 0px;
    padding-left: 0px;
  }
  li {
    padding: 0px
  }
}
.content {
  overflow: scroll;
  width:  100%;
}
