.resources.show .item-attributes {
  .table {
    border: 1px solid #DDD;
    td, th {
      border: none;
    }
    td {
      text-align: left!important;
      form {
        width: 99%;
        margin: 0.5%;
        input {
          width: 80%;
        }
      }
    }
    th {
      position: relative;
      background: #F9F9F9;
      color: #5e6469;
      border-right: 1px solid #F1F1F1;
      text-align: right;
      white-space:nowrap;
      .column_settings {
        display: none;
        position: absolute;
        left: 4px;
        cursor: pointer;
      }
      &:hover .column_settings {
        display: block;
      }
    }
  }
}
