.resources.show .item-attributes {
  & div:first-child .table {
    table-layout: fixed;
  }
  & .table {
    border: 1px solid #ddd;
    & td,
    th {
      border: none;
    }
    & td {
      text-align: left !important;
      overflow: auto;
      form {
        width: 99%;
        margin: 0.5%;
      }
    }
    & th {
      position: relative;
      background: #f9f9f9;
      color: #5e6469;
      border-right: 1px solid #f1f1f1;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      & .column_settings {
        display: none;
        position: absolute;
        left: 4px;
        cursor: pointer;
      }
      &:hover .column_settings {
        display: block;
      }
    }
  }
}

.column-listing {
  & .list-group-item {
    padding: 5px 15px;
  }
  & label {
    margin-bottom: 0;
  }
  & i.fa.fa-arrows-v {
    margin-top: 2px;
  }
}

.widget {
  margin-bottom: 20px;
  & i.fa-cog {
    display: none;
  }
  & .content {
    overflow: scroll;
    max-height: 305px;
  }
}
#chart_div,
.stat_chart_widget {
  & .table th:first-child {
    width: 33%;
    border-right: 1px solid #ccc;
    text-align: right;
  }
}
