/*
 *= require_self
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
*/

body { padding-top: 70px; }

.navbar-left .select2-container {
  width: 300px;
}

.nav-tabs {
  margin-bottom: 15px;
}