/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require font-awesome
 *= require select2
*/

body { padding-top: 70px; }

.navbar-left .select2-container {
  width: 300px;
}
.navbar-left .select2-container .select2-choice {
  background: none;
  border: none;
  box-shadow: none;
  margin-top: -4px;
}
.navbar-left .select2-container .select2-choice .select2-arrow {
  background: none;
  border: none;
}
body .select2-drop {
  margin-top: -3px;
}
