body.schemas {
  background: #292929 !important;
  color: #CCC;
  .main-container a {
    color: white;
  }
}

.table.black {
  a i {
    opacity: 0.7;
    margin: 0px 5px;
  }
  a:hover i {
    opacity: 1;
  }
  &.table-striped tbody tr:nth-child(odd) td, &.table-striped tbody tr:nth-child(odd) th {
    background-color: transparent;
  }

  tr:hover td, tr:hover th {
    background-color: #454545 !important;
  }
  
  .deactivated {
    opacity: 0.5;
  }

  a {
    color: #DDD;
  }

  tfoot td, thead th {
    background-color: #353535;
  }

  th, td {
    border-color: #353535;
  }
}
.schemas .table {
  th:first-child {
    width: 20px;
  }
}
.icon-key.primaryKey {
  color: yellow;
}

.tables-info {
  th:first-child, td:first-child {
    width: 65px;
  }
}
.schema-indices {
  margin-top: 50px;
  td.no-indices {
    text-align: center;
    font-size: 120%;
    background-color: #353535;
  }
}
table.black.schema-columns {
  table-layout: fixed;
  .change_column_type, .rename_column, .remove_column {
    i {
      opacity: 0;
    } 
  }
  tr:hover {
    .change_column_type, .rename_column, .remove_column {
      i {
        opacity: 0.25;
      }
    }
  }
  td:hover, th:hover {
    .change_column_type, .rename_column, .remove_column {
      i {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

#drop-table form, #rename-table form, #rename-column form, #change-column-type form, #create_table {
  background: #EEE;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  i {
    cursor: pointer;
    color: #CCC;
    font-size: 1.3em;
  }
  tr:hover i {
    color: #999;
    &:hover {
      color: #333;
    }
  }
  input[name="table_name"] {
    font-size: 1.5em;
    height: initial;
  }
}

body.schemas .modal {
  color: #333;
  .modal-footer a {
    color: #333;
  }
  .success a {
    margin-left: 10px;
  }
}
