body.schemas {
  background: #292929 !important;
  color: #CCC;
  .main-container a {
    color: white;
  }
}

.table.black {
  a i {
    opacity: 0.5;
    margin: 0px 5px;
  }
  a:hover i {
    opacity: 1;
  }
  &.table-striped tbody tr:nth-child(odd) td, &.table-striped tbody tr:nth-child(odd) th {
    background-color: transparent;
  }

  tr:hover td, tr:hover th {
    background-color: #454545 !important;
  }

  a {
    color: #DDD;
  }

  tfoot td, thead th {
    background-color: #353535;
  }

  th, td {
    border-color: #353535;
  }
}
.schemas .table {
  th:first-child {
    width: 20px;
  }
}
.icon-key.primaryKey {
  color: yellow;
}

.tables-info {
  th:first-child, td:first-child {
    width: 65px;
  }
}
.schema-indices {
  margin-top: 50px;
  td.no-indices {
    text-align: center;
    font-size: 120%;
    background-color: #353535;
  }
}