@import 'variables';
#facebookG{
  display:inline-block;
}

.facebook_blockG{
background-color:#d9d8d8;
border:1px solid #e6e6e6;
float:left;
height:14px;
margin-left:5px;
width:4px;
-webkit-animation-name:bounceG;
-webkit-animation-duration:0.9s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.63);
-moz-animation-name:bounceG;
-moz-animation-duration:0.9s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.63);
-o-animation-name:bounceG;
-o-animation-duration:0.9s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.63);
-ms-animation-name:bounceG;
-ms-animation-duration:0.9s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.63);
opacity:0.1;
}

.widget .facebook_blockG {
  margin-left: 3px;
  width: 3px;
}

#blockG_1{
-webkit-animation-delay:0.27s;
-moz-animation-delay:0.27s;
-o-animation-delay:0.27s;
-ms-animation-delay:0.27s;
}

#blockG_2{
-webkit-animation-delay:0.36s;
-moz-animation-delay:0.36s;
-o-animation-delay:0.36s;
-ms-animation-delay:0.36s;
}

#blockG_3{
-webkit-animation-delay:0.44999999999999996s;
-moz-animation-delay:0.44999999999999996s;
-o-animation-delay:0.44999999999999996s;
-ms-animation-delay:0.44999999999999996s;
}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}


#bowlG{
  margin: 70px auto;
  position:relative;
  width:74px;
  height:74px;
}

#bowl_ringG{
  position:absolute;
  width:74px;
  height:74px;
  border:7px solid lighten(@orange, 60%);
  -moz-border-radius:74px;
  -webkit-border-radius:74px;
  border-radius:74px;
}

.ball_holderG{
  position:absolute;
  width:20px;
  height:74px;
  left:27px;
  top:0px;
  -webkit-animation-name:ball_moveG;
  -webkit-animation-duration:1.8s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name:ball_moveG;
  -moz-animation-duration:1.8s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -o-animation-name:ball_moveG;
  -o-animation-duration:1.8s;
  -o-animation-iteration-count:infinite;
  -o-animation-timing-function:linear;
  -ms-animation-name:ball_moveG;
  -ms-animation-duration:1.8s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-timing-function:linear;
}

.ballG{
  position:absolute;
  left:0px;
  top:-17px;
  width:30px;
  height:30px;
  background:lighten(@orange, 60%);
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

@-webkit-keyframes ball_moveG{
  0%{
    -webkit-transform:rotate(0deg)}

    100%{
      -webkit-transform:rotate(360deg)}

    }

    @-moz-keyframes ball_moveG{
      0%{
        -moz-transform:rotate(0deg)}

        100%{
          -moz-transform:rotate(360deg)}

        }

        @-o-keyframes ball_moveG{
          0%{
            -o-transform:rotate(0deg)}

            100%{
              -o-transform:rotate(360deg)}

            }

            @-ms-keyframes ball_moveG{
              0%{
                -ms-transform:rotate(0deg)}

                100%{
                  -ms-transform:rotate(360deg)}

                }