td.bigdecimal,
td.integer,
td.float,
td.decimal {
  font-family: Monaco;
  font-weight: bold;
  text-align: right;
}
td.integer:not([data-editable]) {
  cursor: pointer;
}
td.bigdecimal,
td.integer,
td.float,
td.decimal,
td.decimalType,
td.floatType,
td.integerType {
  color: green;
}

.trueclass,
.falseclass {
  color: #777;
  text-align: center;
}

.trueclass {
  color: rgb(7, 190, 37);
}

.nilclass,
.emptystring,
td.nilclass {
  color: lightGray;
  font-style: italic;
}

.serialized pre {
  font-size: 10px;
}

.json pre {
  white-space: normal;
}

.time,
.datetime,
.activesupport-timewithzone,
.date,
.sequel-sqltime,
td.dateType,
td.datetimeType,
td.timeType {
  color: purple;
}

td.booleanType {
  color: orange;
}

td.checkboxes {
  text-align: center;
}

.filters {
  tr:first-child .grouping_kind select {
    display: none;
  }
  .grouping_kind {
    border-top: none;
    select {
      width: 55px;
      margin-top: -20px;
      margin-left: -10px;
    }
  }
}

.adminium-association {
  .input-group {
    margin-bottom: 5px;
  }
  ul {
    margin-right: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    overflow: scroll;
    li {
      padding: 0 5px;
    }
  }
}

.items-list thead > tr > th {
  position: relative;
  padding: 15px 8px;
  text-align: center;
  a {
    white-space: nowrap;
  }
  &:not(:hover) i:not(.active):not(.time-chart) {
    opacity: 0;
  }
  &:not(:hover) i.time-chart {
    opacity: 0.3;
  }
  i,
  a.sort-up,
  a.sort-down {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
  }
  .column_settings {
    top: 2px;
    right: 2px;
  }
  .time-chart {
    bottom: 2px;
    right: 2px;
  }
  a.sort-up {
    top: 2px;
    left: 2px;
  }
  a.sort-down {
    bottom: 16px;
    left: 2px;
  }
}
table.table.items-list {
  td.actions,
  th.actions {
    vertical-align: middle;
    text-align: right;
    max-width: 50px;
  }
}

.demo-notice {
  line-height: 34px;
}

input.form-control[type="color"] {
  padding: 1px;
}

td.importIndex {
  background-color: white !important;
  color: #999;
  text-align: right;
  width: 1px;
}
