td.fixnum, td.bigdecimal, td.integer, td.float, td.decimal {
  font-family: Monaco;
  font-weight: bold;
  text-align: right;
}

td.fixnum, td.bigdecimal, td.integer, td.float, td.decimal, td.decimalType, td.floatType, td.integerType {
  color: green;
}

.trueclass, .falseclass {
  color: #777;
  text-align: center;
}

.trueclass {
  color: rgb(7, 190, 37);
}

.nilclass, .emptystring, td.nilclass {
  color: lightGray;
  font-style: italic;
}

.serialized pre {
  font-size: 10px;
}

.time, .datetime, .activesupport-timewithzone, .date, .sequel-sqltime, td.dateType, td.datetimeType, td.timeType {
  color:purple;
}

td.booleanType {
  color: orange;
}

.filters {
  tr:first-child .grouping_kind select {
    display: none;
  }
  .grouping_kind {
    border-top: none;
    select {
      width: 55px;
      margin-top: -20px;
      margin-left: -10px;
    }
  }
}


.adminium-association {
  .input-group {
    margin-bottom: 5px;
  }
  ul {
    margin-right: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    overflow: scroll;
    li {
      padding: 0 5px;
    }
  }
}

.items-list thead > tr > th {
  position: relative;
  padding: 12px 8px;
  text-align: center;
  &:not(:hover) i {
    opacity: 0;
  }
  i {
    cursor: pointer;
    position: absolute;
  }
  .column_settings {
    top: 2px;
    right: 2px;
  }
  .time-chart {
    bottom: 2px;
    right: 2px;
  }
  .fa-chevron-up {
    top: 2px;
    left: 2px;
  }
  .fa-chevron-down {
    bottom: 2px;
    left: 2px;
  }
}
