javascript:
  (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/5GTKR7r271MDUcKKOqxig.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()
